/* References:
1. https://codepen.io/walickialbert/pen/xxOvPmb
2. https://glassmorphism.com/
3. https://www.youtube.com/watch?v=M421fR3TYxg 
Header idea: https://www.youtube.com/watch?v=Oa9LTDR9ugU or https://www.youtube.com/watch?v=oYRda7UtuhA or https://www.youtube.com/watch?v=GAZVvpjxYQY

4. Color Palette Generator: https://mycolor.space/?hex=%231F2687&sub=1*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
html,body {
    width: 100%;
    min-height: 100vh;
    background: #1d061a;
    /* overflow:hidden; */
    
}
body{
    padding: 0;
    margin: 0;
    /* overflow:hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* Glass polymorphism */
    background: rgba( 3, 22, 52, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   
}

header, section, footer{
    padding: 1vw;
    margin: 1vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
     /* Glass polymorphism */
    background: rgba( 3, 22, 52, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );


}

section{
    flex-direction: row;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;

}

.container .box{
    position:relative;
    /* width:320px; */
    width:calc(15vw);
    /* height:400px; */
    height:calc(20vw);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    transition: 0.5s;
}

.container .box::before{
    content:"";
    position:absolute;
    top:0;
    left:50px;
    width:65%;
    height:100%;
    /* background:cornsilk; */
    background:white;
    border-radius: 8px;
    transform: skewX(27deg);
    transition: 0.5s;
}

.container .box::after{
    content:"";
    position:absolute;
    top:0;
    left:50px;
    width:65%;
    height:100%;
    /* background:cornsilk; */
    background:white;
    border-radius: 8px;
    transform: skewX(27deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}

.container .box:hover:before,
.container .box:hover:after{
    transform: skewX(0deg);
    left:20px;
    width: calc(100%-90px);

}

/* TODO: color new box 
copy and paste last two entries, edit number to prev+1, check for comma!*/

.container .box:nth-child(1):before,
.container .box:nth-child(1):after,
.container .box:nth-child(2):before,
.container .box:nth-child(2):after,
.container .box:nth-child(3):before,
.container .box:nth-child(3):after,
.container .box:nth-child(4):before,
.container .box:nth-child(4):after, 
.container .box:nth-child(5):before,
.container .box:nth-child(5):after,
.container .box:nth-child(6):before,
.container .box:nth-child(6):after{
    background: linear-gradient(270deg, #ADA9BB,#00B493); /*#5DFBD7*/
}

.container .box span{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.container .box span::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:8px;
    background:rgba(255,255,255, 0.1) ;
    backdrop-filter: blur(10px); 
    opacity: 0;  /* make the span clear and not icy blurred so contents are readable */
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.container .box:hover span::before{
    top: -50px;
    left: 50px;
    width: 50px;
    height: 50px;
    opacity: 1;
    animation: move 2s linear infinite; 
}

@keyframes move{
    0%,100%{
        transform: translateY(1vw); 
    }
    50%{
        transform: translateY(1vw);
    }
}

.container .box span::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius:8px;
    background:rgba(255,255,255, 0.1) ;
    backdrop-filter: blur(10px); 
   opacity: 0;  /* make the span clear and not icy blurred so contents are readable */
   transition: 0.5s;
   box-shadow: 0 5px 15px rgba(0,0,0,0.05);
   animation-delay: -1s;
}

.container .box:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 50px;
    height: 50px;
    opacity: 1;
    animation: move 0.5s linear infinite; 
}

.container .box .content{
    position: relative;
    left: 0;
    padding: 20px 20px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;
    text-align: justify;
    font-size: calc(0.85vw);

    
}

.container .box:hover .content{
    left: -25px;
    padding: 60px 40px;
}

.container .box .content h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    text-align: right;
}

.container .box .content dl{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;

}

.container .box .content a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}

h1,#par, footer{
    color:white;
    margin: 50px;
    font-size: calc(2vw);
}


footer{
    line-height: 2vw;
    font-size: calc(1vw);
}




