*, 
*::before,
*::after{  /* reset spaces due to html elements like p, h, etc */
    padding: 0;
    box-sizing: border-box;    
    font-family: "PT Sans Narrow", sans-serif;/* 'NotoSans' Playfair Display 'Catamaran' 'Lato' */
    background-color: #F5F6FC;
    fill-opacity:50%;

    /* background-color: lightgray; #E5E6F1; lightgrey */
    font-size: 17px;
    color: slategray;
    line-height: 1.6;
    max-width: 75em;
    /* width: 98%; */
    margin: 0 auto;
}

html{
    height: 100%;              /* for the page to take full window height */
    box-sizing: border-box;    /* to have the footer displayed at the bottom of the page without scrolling */
}

body{
    position: relative;        /* for the footer to move with the page size */
    min-height: 100%;          /* for the footer to be at the bottom */
    padding-bottom: 4rem;      /* Space available between last element and bottom border of the page */
}

section,
div{
    padding-top: 0.5rem;
    z-index: 5;
}

#navBar{
    /*  default, uncomment when designing nav */
    display: none;
}

#budgetLeftSection,
#headeProfileSection{
    background-image: linear-gradient(to right top, #fedbe8, #eed2f3, #caceff, #90cfff, #45cff0, #35c2e2, #22b5d5, #00a8c7, #008ccc, #006ece, #004bc4, #0018a8);
    height: 30vh;
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    border-radius: 0.25rem;
    z-index: 10;
}

#statSection{
    height: 20vh;
    align-content: space-around;
    justify-content: space-around;
    /* border: 1px solid violet; */
    
}

.splitToTwo{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex: 50%;
    justify-content:space-around;
    /* border: 1px dotted blue; */

}

.splitToTwo > *{
    width: 45vw;
    flex-flow: column wrap;
    justify-content:space-between;
    align-items: baseline;
}

#categorySection{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    /* flex: 20%; */
    justify-content:space-around;
    /* border: 1px solid pink; */
}

.categoryList{
    width: 30vw;
    max-height: 10vh;
    display: flex;
    flex-flow: column wrap;
    /* flex-basis: 0 0 20%; */
    justify-content:space-evenly;
    /* border: 1px dotted blue; */

}

#categoryContainer{
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    height: 100%;

}

#expensesTableContainer,
#budgetTableContainer{
    display: none;
}

table{
    background-color: white;
    border-collapse: separate;
    border: solid slategray 0.25px;
    border-radius: 0.5rem;
    width: 100%;
    
}

td, th {
    background-color: white;
    border-left:solid slategray 0.25px;
    border-top:solid slategray 0.25px;
    
}

th {
    background-color: white;
    border-top: none;
}


footer{
    position: absolute;
    /* position: static; fixed the overlap with edit budget */
    bottom: 0;
    height: 10vh;
    width: 100%;
    /* border: 1px dotted blue; */
    display: flex;
    flex-direction: row wrap;
}

footer ul{
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row wrap;
    flex: 20%;
    /* border: 1px dotted black; */
    align-items: center;
    justify-content: space-evenly;

}

#footerContainer li{
    /* border: 1px dotted green; */
    list-style: none;
    /* display: block; */
    display: flex;
    flex-direction: row wrap;
    width: 20vw;
    height: 100%;
    text-align: center;
    align-items: baseline;
    justify-content: space-around;
    padding: 1rem;
    font-size: 0.8em;
}

/*  BTN */
/* edit is in budget.html */
#editBudget, 
#addBudget{
    height: 5vh;
    width: 90%;
    display: block;
    align-items: center;
    /* does not push it to bottom of screen unlike btns in modal */
    margin-top: 0 !important;
    margin-bottom: 1rem;
    background-color: white;
}

/* the one in budgetEditPageBudget.html */
/* #addBudget{
    /* to push into bottom part of screen */
    /* margin-top: 11rem !important;
} */ 

#addBtn{
    bottom: 100px;
    /* circle shape */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: 900;
    /* does not push it to bottom of screen unlike btns in modal */
    margin-top: 0 !important;
    
}

@media (min-width:370px) {
    #addBtn{
        border-radius: 1em; /*border radius for larger screens*/
    }
}

/* FONT */
section,
h1{
    text-align: center;
}
.textWht{
    color: white;
}

.textVerySmall{
    font-size: 0.25em;

}

.textSmall{
    font-size: 0.5em;
}

.textMed{
    font-size: 0.75em;
}

.textBig{
    font-size: 1.25em;
}

.textXtraBig{
    font-size: 2.5em;
}

/* edges */
.veryRoundEdge{
    border-radius: 3rem;
    padding: 0.25rem;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.roundEdge{
    border-radius: 1rem;
    padding: 0.25rem;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */

}

/* background color */
.bgTransparent{
    background-color:transparent;
}

.bgWhite{
    background-color:white;
}

/* ADD NEW EXPENSE MODAL */
.headerModal,
#headerEditBudgetPage{
    text-align: center;
    margin-bottom: 2rem;
}

#headerEditBudgetPage,
#headeProfile{
    position: fixed;
    float: left;
    left: 1rem;
    top: 0;

}

.modalContainer{
    line-height: 5vw;
    /* display: none;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: inherit;
    
}

.modal{
    background-color: #fefefe;  
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 2rem;
    width: 90%; /* Could be more or less, depending on screen size */
    color:white;
}

#close,
#close1{
    float: left;
    cursor: pointer;
}

form{
    /* border: 1px dotted; */
    background-color: #fefefe;
    
}

input,
label,
select{
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}

input,
select{
    border: 0.25px slategray solid;
}

input::placeholder,
select::placeholder{
    opacity: 60%;
}

input{
    width: 100%;
    
}

.btn{
    background-color:#00C9B7;
    width: 100%;
    z-index: 5;
    margin-top: 2rem;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(204, 200, 200, 0.2), 0 10px 20px 0 rgba(204, 200, 200,0.19);
    transform: scale(0.9);
}

.btn:hover,
#amount:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 


/* for close button */
#close,
#close1,
#close2,
.btn{
    border: transparent;
}

#amount{
    transform: scale(1);
}

#amount:hover{
    border:none;
}

/* ADD NEW BUDGET MODAL */

#categoryName,
select{
    width: 100%;
}

/* EDITBUDGET PAGE */
/* close1 btn in this page: close2 is for profilepage */
#close1,
#close2{
    color: white;
}

/* PROFILE */


#headerProfileContainer{
    margin-top: 2rem;
    line-height: 2px;
    
}

#imageContainer{
    margin-top: 1rem;
    line-height: 2px;
    
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    z-index: 5;
}

#budgetsSection{
    height:60vh;
}
