body{
    background-image:url("https://images.unsplash.com/photo-1538221566857-f20f826391c6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80"); 
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    
}
.chessboard{
    width: 40vw;
    height:40vw;
    display: flex;
    flex-direction: column;
}

h1, .chessboard {
    text-align: center;
    margin: auto;
    
}

h1{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.75vw;
    color: #58a4b0;
}

.row{
    display: flex;
    align-items: stretch;
    flex: 1;
    flex-direction: row;
}
.gray{
    flex: 1;
    background-color: #468189;
    font-size: 4vw;
}

.white{
    flex: 1;
    background-color: #f4e9cd;
    font-size: 4vw;
}



